<div>
    <h3>Add</h3>
    <p class="pull-right">
        <a class="btn btn-default" ui-sref="home">Back</a>
    </p>
    <form name="addToDo" data-ng-submit="vm.save()">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" name="name" data-ng-model="vm.toDo.name" required/>
            <div ng-show="addToDo.name.$invalid">
                <span ng-show="addToDo.name.$error.required">
                    This field is required.
                </span>
            </div>

        </div>
        <div class="form-group">
            <label class="control-label">Deadline</label>
            <input id="deadline" type="date" name="deadline" class="form-control" required data-ng-model="vm.toDo.deadline" />
            <div ng-show="addToDo.deadline.$invalid">
                <span ng-show="addToDo.deadline.$error.required">This field is required.</span>
                <span ng-show="addToDo.deadline.$error.date">Invalid Date! Please Enter Date In YYYY-MM-DD</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Importance</label>
            <select name="importance" class="form-control" data-ng-model="vm.toDo.importance" required>
                <option value="">Select Importance</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <div ng-show="addToDo.importance.$invalid">
                <span ng-show="addToDo.importance.$error.required">This field is required.</span>
            </div>
        </div>
        <div class="form-group">
            <a class="btn btn-default" ui-sref="home">Back</a>
            <button type="submit" ng-disabled="addToDo.$invalid" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>