<div data-ng-controller="homeController" data-ng-init="vm.getToDos()">
    <p class="text-right">
        <a ui-sref="add" class="btn btn-primary">Add</a>
        <button ng-click="vm.toggleCompletedTasks()" class="btn btn-primary">Show Completed Tasks</button>
    </p>
    <div class="row">
        <div class="col-sm-12">
            <h3>Tasks</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Deadline</th>
                        <th>Importance</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="vm.toDos.length <= 0">
                        <th colspan="4" class="text-center">No Records Found...</th>
                    </tr>
                    <tr ng-switch="todo.deadline | deadlineCheckFilter" ng-show="vm.toDos.length > 0" ng-repeat="(key,todo) in vm.toDos track by key">
                        <td ng-switch-when="-1" class="danger">{{todo.name}}</td>
                        <td ng-switch-when="-1" class="danger">{{todo.deadline | dateFormatFilter}}</td>
                        <td ng-switch-when="-1" class="danger">{{todo.importance}}</td>
                        <td ng-switch-when="-1" class="danger"><button type="button" class="btn btn-default" data-ng-click="vm.taskCompleted(todo.id)" >Complete</button></td>

                        <td ng-switch-when="0" class="warning">{{todo.name}}</td>
                        <td ng-switch-when="0" class="warning">{{todo.deadline | dateFormatFilter}}</td>
                        <td ng-switch-when="0" class="warning">{{todo.importance}}</td>
                        <td ng-switch-when="0" class="warning"><button type="button" class="btn btn-default" data-ng-click="vm.taskCompleted(todo.id)" >Complete</button></td>

                        <td ng-switch-when="1">{{todo.name}}</td>
                        <td ng-switch-when="1">{{todo.deadline | dateFormatFilter}}</td>
                        <td ng-switch-when="1">{{todo.importance}}</td>
                        <td ng-switch-when="1"><button type="button" class="btn btn-default" data-ng-click="vm.taskCompleted(todo.id)" >Complete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="row" ng-show="vm.showCompletedTasks">
        <div class="col-sm-12">
            <h3>Mark Complete</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Deadline</th>
                        <th>Importance</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="vm.completedToDos.length <= 0">
                        <th colspan="3" class="text-center">No Records Found...</th>
                    </tr>
                    <tr ng-show="vm.completedToDos.length > 0" data-ng-repeat="(key,completesTodo) in vm.completedToDos track by key">
                        <td>{{completesTodo.name}}</td>
                        <td>{{completesTodo.deadline | dateFormatFilter}}</td>
                        <td>{{completesTodo.importance}}</td>
                        <td><button type="button" class="btn btn-default" data-ng-click="vm.completedTaskUndo(completesTodo.id)" >Undo</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>